@using XM.Model
@model ShoppCartEntity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="~/Content/CSS/shopping.css" />
</head>
<body>
    <div class="shopping_cart">
        <div class="layout">

            <!-- 购物车 -->
            <div class="shopping-box">
                <div class="shopping-list">
                    <!-- 标题 -->
                    <div class="title shopping-row">
                        <div class="flex-1">
                            <input class="checkAll" type="checkbox" style="position: relative;left: -25%;" />全选
                        </div>
                        <div class="flex-3">
                            商品
                        </div>
                        <div class="flex-1">
                            单价
                        </div>
                        <div class="flex-1">
                            数量
                        </div>
                        @*<div class="flex-1">
                            小计
                        </div>*@
                        <div class="flex-1">
                            操作
                        </div>
                    </div>
                    <!-- 主体 -->
                    <form id="agoods">
                        @foreach (ShoppCartEntity item in (IEnumerable<ShoppCartEntity>)@ViewData["list"])
                        {
                            <div class="shopping-row" data-val="@item.Agoods_ID" data-itemID="@item.item_ID" data-count="@item.Agoods_Count">
                                <div class="flex-1">
                                    <input class="check" type="checkbox" />
                                    <img class="img" src="~/image/@item.GoodsPicture" />
                                </div>
                                <div class="flex-3">
                                    @item.GoodsName
                                </div>
                                <div id="price" class="flex-1" data-val="@item.GoodsPrice">
                                    @item.GoodsPrice
                                </div>
                                <div class="flex-1">
                                    <div class="input-group" style="margin: 0 auto; width: 120px;">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default minus" type="button">
                                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                        <input type="text" id="count" class="form-control" data-val="@item.Agoods_Count" value="@item.Agoods_Count" style="font-size: 18px;text-align: center;padding: 0;">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default plus" type="button">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                    @*<div class="flex-1">
                                        <span class="priceTotal" id="price"></span>
                                    </div>*@
                                <div class="flex-1">
                                    <a class="delete" data-val="@item.item_ID">删除</a>
                                </div>
                            </div>
                            
                        }

                            <div class="address-box">
                                选择地址:
                                <select id="Add">
                                    <option value="0">请选择</option>
                                    @{
                                        var Add = ViewData["Add"] as List<XM.Model.AddressEntity>;

                                        foreach (var addItem in Add)
                                        {
                                            <option value="@addItem.AddressID">@addItem.AddressName</option>
                                        }
                                    }
                                </select>
                                选择活动
                                <select id="Ac">
                                    <option value="0">请选择</option>
                                    @{
                                        var Ac = ViewData["Ac"] as List<XM.Model.ActivityEntity>;

                                        foreach (var acItem in Ac)
                                        {
                                            <option value="@acItem.id">@acItem.Content</option>
                                        }
                                    }
                                </select>
                            </div>


                        <!-- 底部 -->
                        <div class="shopping-bottom">
                            <div class="operation">
                                <input type="checkbox" class="checkAll" /> 全选
                                @*<a class="deleteAll">删除</a>*@
                            </div>


                            <div class="bottom-but"><a class="but-order" id="Orders">立即下单</a></div>
                            <div class="total">
                                <p>总计：<span>￥<b>9999</b></span></p>
                                <p class="hint">已选择<span>6</span>件商品</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/vip/vip@ShoppingCart.js"></script>

</body>
</html>

